	/* reset */
	html,body,div,ul,li,h1,h2,img,p{margin: 0;padding: 0;border: 0;font-weight: 200;}
	ul,li{list-style: none;}
	a{text-decoration: none;color: inherit;}
	img{vertical-align: top;}
    body{font-family: 'Dosis', sans-serif;text-transform: uppercase;}
	/* common */
	.clearfix:after{content:"";display: block;clear: both;}
	
	/* header */
	.header{position: fixed;top: 0;width: 100%;z-index: 99;box-shadow:0 0 15px #111;
    -webkit-box-shadow:0 0 15px #111;
    -moz-box-shadow:0 0 15px #111;}
	.header .gnb{text-align: center;z-index: 99;}
	.header .gnb .logo{/*max-width: 80%;*/margin: 0 auto;}
	.header .gnb .logo a{display: block;padding: 0.5em 0;}
	.header .gnb .logo img{height: 4rem;}
	

	


	/* layout */
	#full{z-index: 10;}
	
   
	#nav{position: fixed;right: 15px;top:50%;transform:translate(0,-50%);z-index: 99;height: 240px;}
	#nav a{position: relative;display: block;margin: 15px;width: 30px;height: 30px;}
	#nav a span{line-height: 1.875rem;}
	#nav a.active span{display: block;}
	#nav a .text{display: none;position: absolute;top: 0;color: transparent;}
	#nav a.active .text{display: block;right: 0;background-color: #0060aa;padding: 0 15px;border-radius: 15px;color: #fff;}
	#nav a .space{position: absolute;top: 0;left: 0;display: block;width:30px;height: 30px;background-color: #0060aa;border-radius: 15px}
	/*#nav a .space:hover{background-color: #bfc8cd;transition: all 1s;}*/

	#fp-nav{display: none;}	


	
	/* container */
	.section{position: relative;}
	.section1{-webkit-background-size: cover;background-size: cover;overflow: hidden;}



    
    .inner {position: relative; margin: 0 auto; padding: 80px 40px 0; width: 100%; max-width: 1280px; height: 100%; box-sizing: border-box;}

    #Visual {}
	#Visual .box {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);font-family: arial, sans-serif;}
	#Visual.ready .box {top: 90%;}
	#Visual .box .frm {padding: 4em 2em 3em 2em; color: #ccc; text-align: center; border: 10px solid #ccc; transform: scale(1); opacity: 1; transition: 1s;}
	#Visual.ready .box .frm {transform: scale(0); opacity: 0;}
	#Visual .box .frm p {display: block; font-size: 18px; transform: scale(1); opacity: 1; transition: 1s 1s;}
	#Visual.ready .box .frm p {transform: scale(2); opacity: 0;}
	#Visual .box .frm h2 {padding: 10px 0; font-size: 40px; font-weight: bold; transform: scale(1); transition: 1s 2s;}
	#Visual.ready .box .frm h2 {transform:scale(2); opacity: 0;}
	#Visual .box .frm span {display: block; padding-top: 1em; color: #777; font-size: 22px; transform:scale(1); opacity: 1; transition: 1s 3s;}
	#Visual.ready .box .frm span {transform:scale(2); opacity: 0;}
    

    


/*
    #Visual{box-sizing: border-box;}
    #Visual .inner{position: relative; margin: 0 auto; padding: 80px 40px 0; width: 100%; max-width: 500px; height: 100%; box-sizing: border-box;}
    
	#Visual.ready .box{top: 90%;}
	.box .frm{padding: 40px; color: #fff; text-align: center; border: 5px solid #ccc; transform: scale(1); opacity: 1; transition: 1s;text-shadow: 2px 2px 3px rgba(0,0,0,0.5);}
	#Visual.ready .box .frm{transform: scale(0); opacity: 0;}
	#Visual .box .frm p{display: block; font-size: 22px; transform: scale(1); opacity: 1; transition: 1s 1s;}
	#Visual.ready .box .frm p{transform: scale(2); opacity: 0;}
	#Visual .box .frm h2{color: #fff;padding: 30px 20px; font-size: 40px; font-weight: bold; transform: scale(1); transition: 1s 2s;}
	#Visual.ready .box .frm h2{transform:scale(2); opacity: 0;}
	#Visual .box .frm span{display: block; font-size: 22px; transform:scale(1); opacity: 1; transition: 1s 3s;font-weight: 200;}
	#Visual .box .frm span:hover{color: #000;font-weight: 500;text-shadow: 2px 2px 3px rgba(255,255,255,0.5);transition: 1s;}
	#Visual.ready .box .frm span{transform:scale(2); opacity: 0;}
*/

	/* Video Size Set */
	#js_cover{display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);-ms-transform: translateX(-50%) translateY(-50%);max-height: 1920px;height: 100%;}
/*	video {position: fixed;top: 50%;left: 50%;min-width: 100%;min-height: 100%;width: auto;height: auto;z-index: -100;transform: translateX(-50%) translateY(-50%);background: url('../src/bg.jpg') no-repeat;background-size: cover;transition: 1s opacity;}*/

    .mouse{display: none;position: absolute;left: 50%;bottom: 2%;transform: translate(-50%,0);height: 10%;}








	#lightbox{display: none; position: absolute; top: 50%; left: 50%; z-index: 110; transform: translate(-50%, -50%); width: 80%; height: auto;color: #939393;text-align: center; border: 5px outset #0698fa; border-radius: 30px;background-color: #fff;padding: 3em 3em 1em;}
    #lightbox .wrapper{padding: 2em;}
    
    #lightbox .wrapper::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #F5F5F5;}

	#lightbox .wrapper::-webkit-scrollbar{width: 10px;background-color: #F5F5F5;}

	#lightbox .wrapper::-webkit-scrollbar-thumb{background-color: rgba(0, 102, 170, 0.72);border-radius: 5px;}







	.text-wrap{display: block;}
	.text-wrap .Text{float: left;width: 50%;font-size: .85em;}
	.text-wrap .Text .text-cnt{padding: 10% 5%;}
	.text-wrap .Text .text-cnt li span{color: #0066aa;}
	.text-wrap .Text .text-cnt h2{margin-bottom: 3rem;line-height: 1.2;color: #0066aa;font-weight: 300;}
	.text-wrap .Text img{max-width: 100%; max-height: 700px;height: auto;}
	.text-wrap ul{}
	.text-wrap li{margin: 0 1.5rem;line-height: 2;word-break:break-all;word-break:break-word;text-align: left;font-weight: 200;}
	.text-wrap li:last-child{padding: 1.5rem 0;list-style: none;}
	.text-wrap li:nth-child(2){padding: 1rem 0 2.5rem;}
	




    .section2{background: url(../img/sec_2.jpg) 50% 50% no-repeat;}
	.section2 .biw{position: absolute;top: 50%;right: 100%;margin-top: -2%;width: 25%;}
	/*.section2:hover{background: url(../img/sec_2_hover.jpg) 50% 50% no-repeat;}*/


	.more_box{position: absolute; top: 80%; left: 15%; transform: translate(-50%,-50%);padding: 0.7em 1.5em;background-color: #000;border-radius: 0.7em;}
	.section2 .more_box{left: 9%;background-color: #fff;}
	.section2 .more_box span{color: #000;}
    .more_box .box {}
    .more_box .box .frm {color: #fff; text-align: center;}
    .more_box:hover {background-color: #fff;border-color: #000;}
    .more_box:hover span{color: #000;}
    /*.more_box .box {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);min-width: 10%;margin-top: 15%;margin-left: -40%;}
    .more_box .box .frm {display: block;padding: 10% 0;background-color: #0066aa;color: #fff;border: 1px solid #0066aa;border-radius: 0.3em;}
    .more_box .box .frm:hover {background-color: #fff;color: #000;border-color: #000;}*/
    .more_box .box .frm span{font-size: 0.75em;}
    
/*
    .section2 .more_box .box {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);min-width: 10%;margin-top: 14%;margin-left: -35%;}
    .section2 .more_box .box .frm {display: block;padding: 10% 0; color: #fff; text-align: center; border: 2px solid #fff;border-radius: 0.3em;background-color: transparent;}
*/
    .section2 .more_box .box .frm:hover {background-color: #fff;color: #000;}

    /*.more_box{}
    .more_box .box{}
    .more_box .box .frm{position: absolute; bottom: 15%; left: 15%; transform: translate(-50%,-50%);min-width: 10%;
        display: block;padding: 1em 5%; text-align: center; border: 2px solid #000;border-radius: 0.3em;background-color: #0066aa;color: #fff;border: 2px solid #0066aa;}
    .more_box .box .frm:hover{background-color: #fff;color: #000;border-color: #000;}
    .more_box .box .frm p{font-size: 0.75em;}

    .section2 .more_box .box{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);min-width: 10%;margin-top: 14%;margin-left: -35%;}
    .section2 .more_box .box .frm{padding: 10% 0; color: #fff; text-align: center;background-color: transparent;color: #fff;border: 2px solid #fff;border-radius: 0.3em;}
    .section2 .more_box .box .frm:hover{background-color: #fff;color: #000;}*/
    


/*	.section3{background: url(../img/sec_3.jpg) 50% 50% no-repeat;}*/
    .section3 #rotate{position: absolute;bottom: 1%;left: 25%;}
	.section4{background: url(../img/sec_4.jpg) 50% 50% no-repeat;}
	.section5{background: url(../img/sec_5.jpg) 50% 50% no-repeat;}


    .section .title{display: block;position: absolute;top: 65%;left: 9%;}
    .section .title b{color: #000;font-size: 4rem;text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;filter:shadow(color=#000, direction=135, strength=4); zoom:1;width: 70%;}  /* 선택자{ text-shadow: 색상 가로길이 세로길이 번짐; } IE = filter:shadow(color=색상, direction=방향, strength=크기); zoom:1;*/
    
    .modal{display: none;position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:rgba(0,0,0,0.7); 
    text-align:center;
    z-index: 100;
	}
    
	.close{display: block; position: absolute; top: 15px; right: 15px; width: 30px; height: 30px;background-color: #fff;}
	/*#tab-wrap .close{display: block; position: absolute; top: 60px; right: -10px; width: 30px; height: 30px;}*/
    .close .close_btn{position: absolute;top: 50%;width: 100%;height: 2px;background-color: #0066aa;transition: 0.5s;}
    .close .close_btn:nth-child(1){left: 0;transform:rotate(45deg);}
    .close:hover .close_btn:nth-child(1){transform:rotate(135deg);}
    .close .close_btn:nth-child(2){right: 0;transform:rotate(-45deg);}
    .close:hover .close_btn:nth-child(2){transform:rotate(45deg);}
    
	


 
	#tab-wrap{display: none;position: absolute;top: 50%;left: 50%;width: 700px;*/-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);transform: translate(-50%,-50%);z-index: 110;}
	.tab_btn{display: none;}
    .tabs{border-bottom: 1px solid #d9d9d9;font-size: 0.75em;}
    .tabs:after{content: "";display: block;clear: both;}
    .tabs>li{float: left;margin-bottom: -1px;width: 20%;box-sizing: border-box;}
    .tabs>li:first-child{border-left: 1px solid #d9d9d9;border-radius: 15px 0 0 0;}
    .tabs>li:first-child.on{border-color: #0066aa;}
    .tabs>li>a{display: block;background-color: #f6f6f6;padding: 1.2em 1em;color: #999;text-align: center;/*letter-spacing: 1em;*/transition: 1.5s;border: 1px solid #d9d9d9;border-left: 0;border-bottom-color: #d9d9d9;border-right: 1px solid #d9d9d9;border-top: 1px solid #d9d9d9;}
    .tabs>li>a.ovl{padding: 0.616em 0.5em;}
	.tabs>li:first-child>a{border-radius: 15px 0 0 0;}
	.tabs>li:last-child>a{border-radius: 0 15px 0 0;}
    .tabs>li.on>a{border-bottom-color: transparent;background-color: #0066aa;color: #fff;border-color: #0066aa;}
    .tab-contents{border: 1px solid #d9d9d9;border-top-width: 0;border-radius: 0 0 15px 15px;box-sizing: border-box;overflow: hidden;transition: all 3s;}
    .tab-content{display: none;max-width:100%padding: 10em;height: 500px;}   
    .tab-content ul{width: auto;background-color: #fff;}   
    .tab-content li{float: left;width: 50%;text-align: center;}   
    .tab-content img{max-width: 100%;height: 230px;}   
    .tab-content.on{display: block;background-color: #fff;border-radius: 0 0 15px 15px;}  
    .tab_btn{display: none;}
	
	.bristles{padding: 1em 1em 2em;}

	/*.contact{position: absolute;top: 50%;left: 50%;width: 70%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);background-color: #f0f0f0;padding: 2em;border-radius: 30px;}

	.contact h1{width: 100%;padding: 0.5em 0;text-align: center;font-size: 2.5em;font-weight: 600;}
	.contact form{padding: 1em 0 2em 2em;}
	.contact input{display: block;width: 90%;padding: 1em;margin: 1em;border-radius: 12px;}
	.contact input[type="submit"]{position: absolute;bottom: 0;right: 6%;margin: 1em 0;width: 10%;min-width: 6rem;background-color: #000;color: #fff;}
	.contact input[type="submit"]:hover{background-color: #fff;color: #000;font-weight: bold;transition: 1s;}
	.contact textarea{width: 90%;padding: 1em;margin: 1em;border-radius: 12px;height: 100px;border: 2px inset #eee;}*/
	
	.contact{position: absolute;top: 57%;left: 50%;width: 70%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);background-color: #f0f0f0;padding: 2em;border-radius: 30px;}
/*    .contact_cnt{height: 100%;}*/
	.contact h1{width: 100%;padding: 0.5em 0;text-align: center;font-size: 2.5em;font-weight: 600;}
	.contact form{padding: 1em;}
	.contact input{display: block;width: 90%;padding: 1em;margin: 1em;border-radius: 12px;font-family: inherit;}
	.contact input[type="submit"]{position: absolute;bottom: 0;right: 9%;width: 10%;min-width: 6rem;background-color: #000;color: #fff;}
	.contact input[type="submit"]:hover{cursor: pointer; background-color: #fff;color: #000;font-weight: 700;transition: 1s;}
	.contact textarea{width: 90%;padding: 1em;margin: 1em;border-radius: 12px;height: 100px;border: 2px inset #eee;font-family: inherit;}

/*MEADIA QUARY*/

@media screen and (max-width:490px){
    #nav{display: none;}
    .mouse{display: block;}
    #lightbox{width: 80%;height: 80%;padding: 3em 1.5em 1em 2em;}
    #lightbox .wrapper{height: 90%;overflow-y: scroll;padding: 1em 2em 0 1em;}
    .text-wrap .Text{width: 100%;}
    .text-wrap .Text .text-cnt{padding: 0;}
    .section .title{left: 2%;top: 30%;}
    .section .title b{font-size: 2em;}
/*    .contact{top: 54%;height: 75%;}*/
    .contact h1{padding: 0;}
    .contact textarea{height: 50px;}
    #tab-wrap{top: 10%;left: 0;width: 100%;transform: translate(0);}
    .tab-content li{width: 100%;}
    .tab-content img{height: auto;}
    .contact form{padding: 0 2em 2em 0;}
    .contact input[type="submit"]{padding: 1em;min-width: 5rem;right: 14%;text-transform: uppercase;}
}
@media screen and (max-width:812px){
/*    .contact{height: 70%;}*/
/*    .contact_cnt{overflow-y: scroll;}*/
    .contact h1{padding: 0;}
}