body,div,ul,li,h1,h2,h3,h4{margin: 0;padding: 0;}
ul{list-style: none;}
.clearfix:after{display: block;clear: both;content: '';}
.fixed {position: fixed;top: 0;width: 100%;}
.main-nav ul{margin:0 auto;width:80% ;}
.main-nav li{float: left;}
.main-nav{background-color: mediumorchid;}
.main-nav a{display: block;color: #fff;font-weight: bold;padding: 3em 1em;text-decoration: none;}
.main-nav a.active{border-bottom: 5px solid #00f;}